    covariance model: hybrid
    components:
    - covariance:
        covariance model: ensemble
        localization:
          localization method: SABER
          saber central block:
            saber block name: BUMP_NICAS
            active variables: {{analysis_variables}}
            read:
              io:
                data directory: data/bumploc
                files prefix: bumploc
              drivers:
                multivariate strategy: duplicated
                read local nicas: true
              model:
                level for 2d variables: last
        members from template:
          template:
            date: "{{atmosphere_background_time_iso}}"
            state variables: {{analysis_variables}}
            stream name: ensemble
            filename: ./data/ens/mem%iMember%.nc
          pattern: "%iMember%"
          start: 1
          zero padding: 3
          nmembers: 30
      weight:
        value: "1.0"
